* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: url(../images/background.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #0e0e0e;
}

a:link,
a:visited {
  color: #438835;
  text-decoration: underline;
}

a:hover,
a:active {
  text-decoration: none;
}

p {
  margin-bottom: 14px;
  text-align: justify;
}

#header {
  max-width: 100%;
  height: 250px;
  width: 880px;
}

#banner {
  float: left;
  text-align: left;
  padding: 10px 10px 0px 10px;
}

#header #banner h1 {
  position: absolute;
  top: 35px;
  left: 40px;
  color: #488000;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
}

#outer {
  width: 920px;
  position: relative;
  /*overflow: overlay;*/
  margin: 0 auto;
  background-color: #f9f9f7;
  border: initial;
  margin-top: 20px;
  margin-bottom: 20px;
}

#pricipalcontent {
  width: 100%;
  background-color: #fff;
}

#primarycontent {
  width: 68%;
  float: right;
  margin-right: 10px;
}

#primarycontent h2 {
  font-size: 25px;
  line-height: 25px;
  color: #0e0e0e;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

#primarycontent h3 {
  font-size: 20px;
  line-height: 25px;
  color: #438835;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

#primarycontent .post .content {
  line-height: 25px;
  margin-right: 10px;
  text-align: justify;
}

#primarycontent .post .content #picA {
  width: 300px;
  height: 315px;
}

#secondarycontent {
  width: 28%;
  float: left;
  margin-left: 10px;
}

#secondarycontent h2 {
  font-size: 25px;
  line-height: 25px;
  color: #0e0e0e;
  letter-spacing: -1px;
  margin-left: 10px;
  margin-bottom: 15px;
}

#secondarycontent h3 {
  font-size: 17px;
  line-height: 25px;
  color: #438835;
  letter-spacing: -1px;
  margin-left: 10px;
  margin-bottom: 15px;
}

#secondarycontent .post .content {
  line-height: 25px;
  margin-left: 10px;
  text-align: justify;
}

img.picA {
  position: relative;
}

img.floatleft {
  float: left;
  margin: 0px 20px 3px 0px;
}

#footer {
  border-top: double;
  clear: both;
  height: 66px;
  text-align: center;
  color: #a8a88d;
  padding-top: 15px;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #primarycontent {
    margin-top: 160px;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #secondarycontent {
    width: 50%;
    margin-top: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #header #banner {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #primarycontent {
    width: 100%;
    display: left;
    text-align: center;
  }
  #primarycontent .content {
    text-align: left;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  secondarycontent {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 720px) {
  .footer {
    width: 20%;
    height: 20px;
  }
}
