* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: url(../images/background.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #0e0e0e;
  line-height: 18px;
}

a {
  color: #438835;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 14px;
  text-align: justify;
}

#outer {
  width: 920px;
  position: relative;
  overflow: overlay;
  margin: 0 auto;
  background-color: #f9f9f7;
  border: initial;
  margin-top: 20px;
  margin-bottom: 20px;
}

#header {
  max-width: 100%;
  height: 170px;
}

#banner {
  float: left;
  width: 880px;
  height: 250px;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#header #banner h1 {
  position: absolute;
  top: 60px;
  left: 40px;
  color: #488000;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
}

#pricipalcontent {
  width: 100%;
  background-color: #fff;
}

#secondarycontent {
  width: 25%;
  float: right;
}

#primarycontent {
  width: 74%;
  float: left;
  margin-right: 3px;
}

#secondarycontent h3 {
  font-size: 16px;
  line-height: 25px;
  color: #656551;
  letter-spacing: -1px;
  background: url(../images/a22.gif) bottom repeat-x;
  padding: 0px 0px 10px 10px;
  margin-bottom: 20px;
}

#secondarycontent .content {
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
}

#primarycontent h3 {
  font-size: 16px;
  line-height: 25px;
  color: #656551;
  letter-spacing: -1px;
  background: url(../images/a22.gif) bottom repeat-x;
  padding: 0px 0px 10px 15px;
  margin-bottom: 20px;
}

#primarycontent .post {
  margin-bottom: 30px;
}

#primarycontent .post .content {
  padding: 0px 15px 0px 15px;
  margin-bottom: 20px;
  text-align: justify;
  margin-left: 15px;
}

#primarycontent .post .footer {
  background: url(../images/a33.gif) repeat-x;
  height: 34px;
  margin-top: 5px;
  text-align: right;
}

#primarycontent .post .footer ul {
  list-style: none;
}

#primarycontent .post .footer ul li {
  display: inline;
  line-height: 14px;
  padding-left: 17px;
  margin-left: 25px;
  background-repeat: no-repeat;
  background-position: 0px 2px;
}

#primarycontent .post .footer ul li.readmore {
  background-image: url(../images/a38.gif);
}

img.picA {
  position: relative;
  top: -2px;
  width: 104px;
  height: 84px;
  padding: 4px;
}

img.floatleft {
  float: left;
  margin: 0px 14px 3px 0px;
}

img.picB {
  position: relative;
  top: -2px;
  width: 146px;
  height: 147px;
  padding: 7px;
}

ul.linklist {
  list-style: none;
}

ul.linklist li {
  border-top: solid 1px color #eee;
  padding-top: 5px;
  margin: 5px 0px 0px 0px;
}

ul.linklist li.first {
  border-top: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

#footer {
  border-top: double;
  clear: both;
  height: 66px;
  text-align: center;
  color: #a8a88d;
  padding-top: 15px;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #header #logo {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #header #splash {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #secondarycontent {
    width: 0%;
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  primarycontent {
    width: 100%;
    margin: 0;
  }
}
