#menu {
  display: flex;
  height: 35px;
  width: 880px;
  background-color: #488000;
  color: white;
  margin-bottom: 15px;
}

#container .principal {
  float: left;
  color: #fff;
  border-right: 1px solid #fff;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
}

#container a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #438835;
}

#container a.last {
  border-right: 0px;
}

@media screen and (max-width: 700px) {
  #container,
  #container .principal {
    width: 100%;
    border-right: 0px;
    background-color: #488000;
    color: white;
    text-align: center;
  }
}
