#menu{
    display: flex; /**/
    height: auto;
    margin-bottom: 10px;
    background-color: #5b5b34;
}

#container .principal{
    float: left;
    color: #fff;
    border-right: 1px solid #fff;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}

#container a:hover{
    color: #fff;
    font-size: larger;
    font-weight: bold;
    background-color: #ff7500;
}

#container a.last{
    border-right: 0px;
}

@media screen and (max-width: 700px){
    #container, #container .principal{
        width: 100%;
        border-right: 0px;
    }
}